@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
*{
    margin: 0;
    padding:0;
}
    html{
    scroll-behavior:smooth;
}
    body{
    background: #06053a;
    overflow-x: hidden;   
}
.body.active{
    overflow: hidden; 
}
.threeline{
    display: none;
    display: flex;
    clip-path: circle(0% at 95% 6vw);
    width: 100%;
    height: 100vh;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    transition: 1s;
    height: 100vh;
    background: #06053a;
}
.threeline.active{
    clip-path: circle(150% at 95% 6vw);
    transition: 1s;
}

.threeline ul{
    font-size: 6vw;
    color: #fff;
    list-style: none;
    margin-left: 7vw;
    font-family: 'Exo 2', sans-serif;
}

.threeline ul li{
    margin: 1vw 0;
}
.mag:hover {
    color:#008dd5;
}

.blo:hover{
    color: #b80c09;
}
.eve:hover{
    color:#ef798a;
}
.work:hover{
    color: #f6ae2d;
}
.mag .blo .eve .work{
    color: white;
    cursor:pointer;

}
.navigation{
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 13%;
    height: auto;
    margin: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}
.logo img {
    width: 100%;
    height: 100%;;
}

.right{
    display: inline-flex;
    align-items: stretch;
    margin-top: 3%;
    margin-right: 5%;
}
.right a{
    height: max-content;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    text-align: center;
    margin: 1.4vw;
    text-decoration: none;
    font-size: 1.95vw;
}
.toggle{
    position: absolute;
    cursor: pointer;
    background: url(button.png);
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.6vw;
    height: 3.5vw;
}
.activeToggle{
    position:fixed ;
    cursor: pointer;
    background: url(./close.png);
    z-index: 1000;
    background-size: contain;
    width: 2.6vw;
    height: 3.5vw;
    background-repeat: no-repeat;
}
.main{
    color: #ef798a;
    font-size: 10vw;
    padding-left: 35vw;

    
}

.homeArticle {
    display: flex;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 5vw;
    background-color: #fff;
    border-radius: 2vw;
    /* height: 90vh; */
    
  }
  
  .homeArticle img {
    width: 25vw;
    border-radius: 2vw;
    /* height: 90vh; */
  }
  
  .homeArticleContent {
    align-self: center;
    padding: 25px;
    padding-bottom: 8vw;
  }
  
  .homeArticleContent h1{
      font-size: 5vw;
      font-family: Exo 2;
  }
  .homeArticleContent p{
    font-size: 0.1vw;
    font-family: Inter;
    font-size: 1.5vw;
}

  .maxWidth1 {
    max-width: 80vw;
  }
  .mAuto {
    margin: auto;
  }  

.btn1{
    font-size: 1.3vw;
    padding: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: 8vw;
    margin-right: 3vw;
    border-radius: 0.5vw;
    cursor:pointer;
}
    

.btn2{
    font-size: 1.3vw;
    color: #fff;
    background-color: #06053a;
    padding-left: 4vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-right: 4vw;
    border-radius: 0.5vw;
    cursor:pointer;
}

@media screen and (max-width: 800px){

    .homeArticle {
        flex-direction: column;
      }
    .homeArticleImg {
        text-align: center;
      }
    
    /* .home-article img {
    /* width: 40vw; */
    /* height: 25vh; */     
  
  .homeArticleContent p{
    font-size: 2vw;
  }
}